# Copyright (c) 2026 Mikhail Anikin
#
# SPDX-License-Identifier: Apache-2.0
#

source "Kconfig.zephyr"

config SERPROG_BUF_SIZE
    int "Buffer size"
    default 2048
    help
      Size of the buffer in bytes.